.music-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  background: gold;
  color: black;
  border-radius: 50%;
  padding: 12px;
  font-size: 18px;
  box-shadow: 0 0 10px gold;
}

.btn floating {
  position: fixed;
  top: 20px;
  right: 20px;
  background: gold;
  color: black;
  border-radius: 50%;
  padding: 12px;
  font-size: 18px;
  box-shadow: 0 0 10px gold;
}

.floating {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  box-shadow: 0 0 15px gold;
}

.section {
  position: relative;
  z-index: 1;
}